@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body
{
	font-family: 'Open Sans', sans-serif !important;
}


div.whole_page
{
	/*font-family: 'Lato', sans-serif !important;*/
	position: relative;
	width: 100%;
	height: 100%;
}

div.centered_div
{
	position: absolute;
	width: 30%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.centered_div label, div.centered_div input
{
	text-align: center;
}

div.centered_div .logo
{
	display: block;
    margin: 0 auto;
    width: 100px;
}

div.centered_div .banner img
{
	width: 100%;
}

div.centered_div .banner .banner_head
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

div.centered_div .banner .title-holder
{
	border-left: 5px solid red;
}

div.custom-container
{
	padding: 55px 10px 10px 10px !important;
}